<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>多肽计算器(专业版{:C('advance_version')})</title>
		<link charset="utf-8" rel="stylesheet" href="{:C('base')}/static/asset/bootstrap/3.3.6/css/bootstrap.min.css">
		
        <style>
        	.no-padding-right{
        		padding-right : 0!important;
        	}
        	.no-padding-left{
        		padding-left: 0!important;
        	}

        </style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="jumbotron">
					<h4>多肽计算器</h4>
					<form id="form-data" action="{:U('result_advance')}" method="post" class="form-horizontal" onsubmit="return false;">
					<div class="form-group">
						<label class="col-md-10 col-sm-10 col-xs-10 control-label">
							序列（可输入氨基酸单字母或多字母，单字母为大写字母）<a href="{:U('about')}" target="_blank"><i class="glyphicon glyphicon-question-sign"></i></a>
						</label>
					</div>
					
					<div class="form-group">
						
						<div class="col-md-10 col-sm-10 col-xs-10 no-padding-left no-padding-right">
							<input type="text" name="amino" value="{$amino|default=''}" class="form-control" id="amino">
						</div>
						<div class="col-md-1  col-sm-2 col-xs-12">
							<button id="calculate-button" type="button" class="btn btn-primary pull-right"> 计算 </button>
						</div>
					</div>
                    <div class="form-group">
                    	<div class="col-md-2 col-sm-2 col-xs-3">
							
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<label class="col-md-2 control-label no-padding-left no-padding-right">二硫键修饰&nbsp;</label>
							<div class="col-md-4 no-padding-left">
								<input class="form-control" type="text" id="s2" name="s2" placeholder="格式：3-8,5-16">
							</div>
							
							<label class="col-md-2 control-label no-padding-right">成环类型&nbsp;</label>
							<div class="col-md-4 no-padding-left">
								<select id="cyclo-type" name="circle-type" class="form-control">
									<option value="-1">未成环</option>
									<option value="0">主链成环</option>
									<option value="1">侧链成环</option>
									<option value="2">主（N端）侧（C端）成环</option>
									<option value="3">侧（N端）主（C端）成环</option>
									<option value="4">硫醚成环</option>
								</select>
							</div>
							
						</div>
						<label class="col-md-2 col-sm-2 col-xs-3">
							
						</label>
                    </div>
				</form>
				<div id="message-show" class="alert alert-danger hidden" role="alert">警告内容</div>
				</div>
				<!--
                	/.col-md-12
                -->
			</div>
			<!-- /.row -->
			
			<div class="row">
				<div id="result-show" class="col-md-12 hidden">
					<div class="title"><h3>计算结果</h3></div>
					<div class="body" id="result-body"></div>
				</div>
			</div>
		</div>

		<script type="text/html" id="result_template">
			<div class="col-md-12">
			<ul class="list-unstyled">
				<li class="col-md-12 col-sm-12"><b>1字符：</b>{{d.single}}</li>
				<li class="col-md-12 col-sm-12"><b>多字符：</b>{{d.full}}</li>
				<li class="col-md-4 col-sm-6"><b>氨基酸个数：</b>{{d.aminoCount}}</li>
				<li class="col-md-8 col-sm-6"><b>分子式：</b>{{d.formulaHtml}}</li>
				<li class="col-md-4 col-sm-6"><b>平均分子量(MW)：</b>{{d.mw}}g/mol</li>
				<li class="col-md-8 col-sm-6"><b>精确分子量(Exact Mass)：</b>{{d.em}}</li>
				<li class="col-md-4 col-sm-6"><b>等电点(PI)：</b>{{d.pi}}</li>
				<li class="col-md-8 col-sm-6"><b>pH=7.0时的净电荷数：</b>{{d.pi7}}</li>
				<li class="col-md-4 col-sm-6"><b>平均亲水性：</b><span title="亲水值：{{d.hydrophily}}">{{d.hydrophilyResult}}</span></li>
				<li class="col-md-8 col-sm-12">
					<b>溶解性：</b>{{d.solubilityResult}} 
					<br><span style="color:#666">( 备注：由于溶解性不仅与氨基酸的序列有关，也和产品所带的反离子有关，若溶解性遇到问题，可咨询我们的技术人员，我们可提供溶解方法或进行序列修饰以提高溶解性。)</span>
				</li>
			</ul>
			</div>
			<table class="table table-bordered">
				<tr>
					<th>
						氨基酸
					</th>
					<th>
						个数
					</th>
					<th>
					         残基分子量
					</th>
				</tr>
                <tbody id="table-body"></tbody>
                <tfoot>
                	<tr>
                		<td>氨基酸总数</td>
                		<td>{{d.aminoCount}}</td>
                		<td></td>
                	</tr>
                	
                </tfoot>
			</table>
			(PI相关氨基酸个数)
			<table class="table table-bordered">
				<tr>
					<th>
						氨基酸
					</th>
					<th>
						个数
					</th>
					<th>
					         残基分子量
					</th>
				</tr>
                <tbody id="table-body-pi"></tbody>
                <tfoot>
                	<tr>
                		<td>氨基酸总数</td>
                		<td>{{d.aminoCount}}</td>
                		<td></td>
                	</tr>
                	
                </tfoot>
			</table>
			<div class="row">
				<div id="line-echarts" style="height:500px" class="col-md-12"></div>
			</div>
			
		</script>
		<script id="table-body-template" type="text/html">
			<tr>
					<td>
						{{d.name}}
					</td>
					<td>
						{{d.count}}
					</td>
					<td>
					   {{d.residue}}
					</td>
				</tr>
		</script>
			
		<script src="{:C('base')}/static/sea.js"></script>
		<script src="{:C('base')}/static/skin/default/config.js"></script>
		
		<script>
			seajs.use('skin/default/index_advance', function(index){
				index.initCalculate({$cal}, "{$nterm|default='H-'}", "{$cterm|default='-OH'}");
				index.sCheck();
			})
		</script>
	</body>
</html>
